<a id="circle-simple" ngd-viewport-el></a> 
<h2>Circle Simple
  <a href="https://developers.google.com/maps/documentation/javascript/examples/circle-simple">Google Source</a>
</h2>
This example creates circles on the map, representing populations in North America.
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/circle-simple.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="CircleSimpleCtrl">
      <img src="images/circle-simple.png" />
      <map init-event="init-map" center="37.09024, -95.712891" zoom="4" mayTypeId="TERRAIN">
        <shape name="circle" ng-repeat="city in cities"
          stroke-color="#FF0000"
          stroke-opacity="0.8"
          stroke-weight="2"
          fill-color="#FF0000"
          fill-opacity="0.35"
          center="{{city.position}}"
          radius="{{getRadius(city.population)}}">
        </shape>
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>
