<a id="icon-complex" ngd-viewport-el></a> 
<h2>Complex Icon
  <a href="https://developers.google.com/maps/documentation/javascript/examples/icon-complex">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/icon-complex.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="IconComplexCtrl">
      <img src="images/icon-complex.png" />
      <map init-event="init-map" zoom="10" center="-33.9, 151.2">
        <marker ng-repeat="beach in beaches"
          icon="{{image}}"
          shape="{{shape}}"
          title="{{beach[0]}}" 
          position="{{beach[1]}}, {{beach[2]}}" 
          z-index="{{beach[3]}}"></marker>
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>
