<a id="overlay-remove" ngd-viewport-el></a> 
<h2> Remove Overlay
  <a href="https://developers.google.com/maps/documentation/javascript/examples/overlay-remove">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="overlay-remove.js"></div>
  <style ngd-plnkr-code="css">
    div[ng-controller=OverlayRemoveCtrl] {
      position: relative;
    }
    div[ng-controller=OverlayRemoveCtrl] #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -90px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }
  </style>
  <div ngd-plnkr-code="html">
    <div ng-controller="OverlayRemoveCtrl">
      <div id="panel">
        <input ng-click="remove()" type=button value="Remove overlay">
        <input ng-click="add()" type=button value="Restore overlay">
      </div>
      <map zoom="13" center="40.740, -74.18">
       <shape name="image" id="foo"
         url="https://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg"
         bounds="[[40.712216, -74.22655], [40.773941, -74.12544]]">
       </shape>
     </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>


