<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <title>AngularJS Google Maps V3 Directive Layers</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization"></script>
    <script src="https://code.angularjs.org/1.2.26/angular.min.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-directives/master/build/ngd.min.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-directives/master/ngdPlnkr.js"></script>

    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
    <script src="javascripts/app.js"></script>
  </head>

  <body ngd-viewport>
<!-- =================================================== -->
<!--     <div ng-include="'partials/header.html'"></div> -->
<!-- =================================================== -->
    <header>
      <div class="inner">
        <a href="https://github.com/allenhwkim/angularjs-google-maps" class="button">
          <img src="images/github-button.png" />
          <div class="overlay">
            <small>View project on</small> 
            GitHub
          </div>
        </a>
        <h1>Angularjs-Google-Maps</h1>
        <h2>The Simplest Way of Showing A Map</h2>
      </div>
    </header>

    <div ngd-viewport-nav>
<!-- ====================================================== -->
<!--       <div ng-include="'partials/sidebar.html'"></div> -->
<!-- ====================================================== -->
<aside id="sidebar" ngd-fixed-under="header">
  <a href="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js" download="ng-map.min.js" class="button">
    <img src="images/download-button.png" />
    <div class="overlay">
      <small>Download (8.7k)</small>
      ng-map.js
    </div>
  </a>

  <ul ngd-tree>
    <li class="on">
      API Reference
      <ul>
        <li><a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference">3.exp (3.18)</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/reference">Release (3.17)</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/3.16/reference">Frozen (3.16)</a></li>
      </ul>
    </li>

    <li class="on">
      Code Samples
      <ul>
        <li ng-class="{on:page=='basics'}">
          <a href="basics.html#">Basics</a>
          <ul>
            <li><a href="basics.html#map-simple">Simple map</a></li>
            <li><a href="basics.html#map-coordinates">Showing pixel and tile coordinates</a></li>
            <li><a href="basics.html#map-geolocation">Geolocation</a></li>
            <li><a href="basics.html#map-projection-simple">Custom map projections</a>
          </ul>
        </li>

        <li ng-class="{on:page=='events'}">
          <a href="events.html#">Events</a>
          <ul>
            <li><a href="events.html#event-simple">Simple click event</a></li>
            <li><a href="events.html#event-arguments">Accessing arguments in UI events</a></li>
            <li><a href="events.html#event-properties">Getting properties with event handlers</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='controls'}">
          <a href="controls.html#">Controls</a>
          <ul>
            <li><a href="controls.html#control-disableUI">Disabling the default UI</a></li>
            <li><a href="controls.html#control-simple">Adding controls to the map</a></li>
            <li><a href="controls.html#control-options">Control options</a></li>
            <li><a href="controls.html#control-positioning">Control positioning</a></li>
            <li><a href="controls.html#control-custom">Custom controls</a></li>
            <li><a href="controls.html#control-custom-state">Adding state to controls</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='styles'}">
          <a href="styles.html#">Styles</a>
          <ul>
            <li><a href="styles.html#maptype-styled-simple">Simple styled maps</a></li>
            <li><a href="styles.html#maptype-styled-complex">Complex styled maps</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='drawings'}">
          <a href="drawings.html#">Drawing on the Map</a>
          <ul>
            <li><a href="drawings.html#marker-simple">Simple markers</a></li>
            <li><a href="drawings.html#marker-remove">Removing markers</a></li>
            <li><a href="drawings.html#icon-simple">Simple marker icons</a></li>
            <li><a href="drawings.html#icon-complex">Complex marker icons</a></li>
            <li><a href="drawings.html#marker-animations">Marker animations</a></li>
            <li><a href="drawings.html#marker-animations-iteration">Marker animations with setTimeout()</a></li>
            <li><a href="drawings.html#infowindow-simple">Info windows</a></li>
            <li><a href="drawings.html#infowindow-simple-max">Info windows with maxWidth</a></li>
            <li><a href="drawings.html#polyline-simple">Simple polylines</a></li>
            <li><a href="drawings.html#polyline-remove">Removing polylines</a></li>
            <li><a href="drawings.html#polyline-complex">Complex polylines</a></li>
            <li><a href="drawings.html#polygon-simple">Simple polygons</a></li>
            <li><a href="drawings.html#polygon-arrays">Polygon arrays</a></li>
            <li><a href="drawings.html#polygon-autoclose">Polygon auto-completion</a></li>
            <li><a href="drawings.html#circle-simple">Circles</a></li> 
            <li><a href="drawings.html#rectangle-simple">Rectangles</a></li>
            <li><a href="drawings.html#rectangle-zoom">Rectangle zoom</a></li>
            <li><a href="drawings.html#user-editable-shapes">User-editable shapes</a></li>
            <li><a href="drawings.html#polygon-draggable">Draggable polygons</a></li>
            <li><a href="drawings.html#rectangle-event">Listening to events</a></li>
            <li><a href="drawings.html#groundoverlay-simple">Ground overlays</a></li>
            <li><a href="drawings.html#overlay-remove">Removing overlays</a></li>
            <li><a href="drawings.html#overlay-simple">Custom overlays</a></li>
            <li><a href="drawings.html#overlay-hideshow">Showing/hiding overlays</a></li>
            <li><a href="drawings.html#marker-symbol-predefined">Predefined marker symbols</a></li>
            <li><a href="drawings.html#marker-symbol-custom">Custom marker symbols</a></li>
            <li><a href="drawings.html#overlay-symbol-animate">Animated symbols</a></li>
            <li><a href="drawings.html#overlay-symbol-arrow">Arrows (symbols)</a></li>
            <li><a href="drawings.html#overlay-symbol-custom">Custom symbols on a line</a></li>
            <li><a href="drawings.html#overlay-symbol-dashed">Dashed lines (symbols)</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='layers'}">
          <a href="layers.html#">Layers</a>
          <ul>
            <li><a href="layers.html#layer-kml">KML layers</a></li>
            <li><a href="layers.html#layer-kml-features">KML feature details</a></li>
            <li><a href="layers.html#layer-data-simple">Data layer: Simple</a></li>
            <li><a href="layers.html#layer-data-style">Data layer: Styling</a></li>
            <li><a href="layers.html#layer-data-event">Data layer: Event Handling</a></li>
            <li><a href="layers.html#layer-data-dynamic">Data layer: Dynamic Styling</a></li>
            <!--
            <li><a href="layers.html#layer-data-dragndrop">Data layer: Drag and Drop GeoJSON</a></li>
            -->
            <li><a href="layers.html#layer-data-quakes-default">Data layer: Earthquakes Default</a></li> 
            <li><a href="layers.html#layer-data-quakes-simple">Data layer: Earthquakes Simple</a></li> 
            <li><a href="layers.html#layer-data-quakes-advanced">Data layer: Earthquakes Advanced</a></li> 
            <li><a href="layers.html#layer-heatmap">Heatmaps</a></li>
            <li><a href="layers.html#layer-mapsengine">Maps Engine layers</a></li>
            <li><a href="layers.html#layer-dynamicmapsengine">Dynamic Maps Engine layers</a></li>
            <li><a href="layers.html#mapsenginelayer-noauth-layerid">Maps Engine layers by layer ID</a></li>
            <li><a href="layers.html#mapsenginelayer-noauth-layerkey">Maps Engine layers by layer key</a></li>
            <li><a href="layers.html#layer-fusiontables-simple">Fusion Tables layers</a></li>
            <li><a href="layers.html#layer-fusiontables-query">Fusion Tables queries</a></li>
            <li><a href="layers.html#layer-fusiontables-heatmap">Fusion Tables heatmaps</a></li>
            <li><a href="layers.html#layer-fusiontables-styling">Fusion Tables styling</a></li>
            <li><a href="layers.html#layer-georss">GeoRSS layers</a></li>
            <li><a href="layers.html#layer-traffic">Traffic layer</a></li>
            <li><a href="layers.html#layer-transit">Transit layer</a></li>
            <li><a href="layers.html#layer-weather">Weather layer</a></li>
            <li><a href="layers.html#layer-bicycling">Bicycle layer</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='maptypes'}">
          <a href="maptypes.html#">MapTypes</a>
          <ul>
            <li><a href="maptypes.html#maptype-base">Basic map types</a></li>
            <li><a href="maptypes.html#maptype-overlay">Overlay map types</a></li>
            <li><a href="maptypes.html#maptype-image">Image map types</a></li>
            <li><a href="maptypes.html#maptype-image-overlay">Overlaying an image map type</a></li>
            <li><a href="maptypes.html#aerial-simple">45° imagery</a></li>
            <li><a href="maptypes.html#aerial-rotation">Rotating 45° imagery</a></li>
          </ul>
        </li>

      </ul>
    </li>

  </ul>


<p class="repo-owner"><a href="https://github.com/allenhwkim/angularjs-google-maps">ng-map</a> is maintained by <a href="https://github.com/allenhwkim">Allen Kim</a>.</p>

  <p>This page was originally generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
</aside>


    </div>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h2>Layers</h2>
<!-- =================================================== -->
<!--           <div ng-include="'layer-kml.html'"></div> -->
<!-- =================================================== -->
<a id="layer-kml" ngd-viewport-el></a> 
<h2>KML Layer
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-kml">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-kml.png" />
      <map init-event="init-map" zoom="11" center="41.875696,-87.624207">
        <kml-layer url="http://gmaps-samples.googlecode.com/svn/trunk/ggeoxml/cta.kml"></kml-layer>
      </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/layer-kml-features.js"></script>
<!-- ============================================================ -->
<!--           <div ng-include="'layer-kml-features.html'"></div> -->
<!-- ============================================================ -->
<a id="layer-kml-features" ngd-viewport-el></a> 
<h2> KML feature details
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-kml-features">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/layer-kml-features.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="LayerKmlFeaturesCtrl">
      <img src="images/layer-kml-features.png" />
      <map init-event="init-map" zoom="12" center="37.06, -95.68">
        <kml-layer on-click="showInContextWindow()"
          url="http://kml-samples.googlecode.com/svn/trunk/kml/Placemark/placemark.kml"></kml-layer>
      </map>
      {{description}}
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- =========================================================== -->
<!--           <div ng-include="'layer-data-simple.html'"></div> -->
<!-- =========================================================== -->
<a id="layer-data-simple" ngd-viewport-el></a> 
<h2> Data Layer (Simple)
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-data-simple">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-data-simple.png" />
    <map init-event="init-map" zoom="4" center="-28, 137.883">
      <map-data load-geo-json="https://storage.googleapis.com/maps-devrel/google.json"></map-data>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ========================================================== -->
<!--           <div ng-include="'layer-data-style.html'"></div> -->
<!-- ========================================================== -->
<a id="layer-data-style" ngd-viewport-el></a> 
<h2> Data Layer: Styling
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-data-style">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-data-style.png" />
      <map init-event="init-map" zoom="4" center="-28, 137.883">
        <map-data set-style="{fillColor: 'green', strokeWeight: 1}"
          load-geo-json="https://storage.googleapis.com/maps-devrel/google.json"></map-data>
      </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/layer-data-event.js"></script>
<!-- ========================================================== -->
<!--           <div ng-include="'layer-data-event.html'"></div> -->
<!-- ========================================================== -->
<a id="layer-data-event" ngd-viewport-el></a> 
<h2> Data Layer: Event Handling
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-data-event">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/layer-data-event.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="LayerDataEventCtrl">
      <img src="images/layer-data-event.png" />
      <map init-event="init-map" zoom="4" center="-28, 137.883">
        <map-data 
          set-style="styleFunc"
          on-mouseover="onMouseover()"
          load-geo-json="https://storage.googleapis.com/maps-devrel/google.json"></map-data>
      </map>
      <h1>{{letter}}</h1>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/layer-data-dynamic.js"></script>
<!-- ============================================================ -->
<!--           <div ng-include="'layer-data-dynamic.html'"></div> -->
<!-- ============================================================ -->
<a id="layer-data-dynamic" ngd-viewport-el></a> 
<h2> Data Layer: Dynamic Styling
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-data-dynamic">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/layer-data-dynamic.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="LayerDataDynamicCtrl">
      <img src="images/layer-data-dynamic.png" />
      <map init-event="init-map" zoom="4" center="-28, 137.883">
        <map-data 
          set-style="styleFunc"
          on-click="onClick()"
          on-mouseover="onMouseover()"
          on-mouseout="onMouseout()"
          load-geo-json="https://storage.googleapis.com/maps-devrel/google.json"></map-data>
      </map>
      <h1>{{letter}}</h1>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- =================================================================== -->
<!--           <div ng-include="'layer-data-quakes-default.html'"></div> -->
<!-- =================================================================== -->
<a id="layer-data-quakes-default" ngd-viewport-el></a> 
<h2> Data Layer: Earthquake data
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-data-quakes">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-data-quakes-default.png" />
    <map init-event="init-map" zoom="3" center="20, -160">
      <map-data load-geo-json="javascripts/quakes.geo.json"></map-data>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/layer-data-quakes-simple.js"></script>
<!-- ================================================================== -->
<!--           <div ng-include="'layer-data-quakes-simple.html'"></div> -->
<!-- ================================================================== -->
<a id="layer-data-quakes-simple" ngd-viewport-el></a> 
<h2> Data Layer: Earthquake data
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-data-quakes">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/layer-data-quakes-simple.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="LayerDataQuakesSimpleCtrl">
      <img src="images/layer-data-quakes-simple.png" />
      <map init-event="init-map" zoom="3" center="20, -160">
        <map-data 
          set-style="styleFunc"
          load-geo-json="javascripts/quakes.geo.json"></map-data>
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/layer-data-quakes-advanced.js"></script>
<!-- ==================================================================== -->
<!--           <div ng-include="'layer-data-quakes-advanced.html'"></div> -->
<!-- ==================================================================== -->
<a id="layer-data-quakes-advanced" ngd-viewport-el></a> 
<h2> Data Layer: Earthquake data (Advanced)
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-data-quakes">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/layer-data-quakes-advanced.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="LayerDataQuakesAdvCtrl">
      <img src="images/layer-data-quakes-advanced.png" />
      <map init-event="init-map" zoom="3" center="20, -160"
        styles="[{
            'featureType': 'all',
            'elementType': 'all',
            'stylers': [{'visibility': 'off'}]
          }, {
            'featureType': 'landscape',
            'elementType': 'geometry',
            'stylers': [{'visibility': 'on'}, {'color': '#fcfcfc'}]
          }, {
            'featureType': 'water',
            'elementType': 'labels',
            'stylers': [{'visibility': 'off'}]
          }, {
            'featureType': 'water',
            'elementType': 'geometry',
            'stylers': [{'visibility': 'on'}, {'hue': '#5f94ff'}, {'lightness': 60}]
          }]">
        <map-data 
          set-style="styleFunc"
          load-geo-json="javascripts/quakes.geo.json"></map-data>
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/taxi-data.js"></script>
          <script src="javascripts/layer-heatmap.js"></script>
<!-- ======================================================= -->
<!--           <div ng-include="'layer-heatmap.html'"></div> -->
<!-- ======================================================= -->
<a id="layer-heatmap" ngd-viewport-el></a> 
<h2> Heatmaps
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-heatmap">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <style ngd-plnkr-code="css">
    div[ng-controller=LayerHeatmapCtrl] {
      position:relative;
    }
    div[ng-controller=LayerHeatmapCtrl] #panel{
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }
  </style>
  <div ngd-plnkr-code="js" src="javascripts/layer-heatmap.js"></div>
  <div ngd-plnkr-lib="taxi-data.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="LayerHeatmapCtrl">
      <div id="panel">
        <button ng-click="toggleHeatmap()">Toggle Heatmap</button>
        <button ng-click="changeGradient()">Change gradient</button>
        <button ng-click="changeRadius()">Change radius</button>
        <button ng-click="changeOpacity()">Change opacity</button>
      </div>
      <img src="images/layer-heatmap.png" />
      <map init-event="init-map" zoom="13" center="37.774546, -122.433523" map-type-id="SATELLITE">
        <heatmap-layer id="foo" data="taxiData"></heatmap>
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ========================================================== -->
<!--           <div ng-include="'layer-mapsengine.html'"></div> -->
<!-- ========================================================== -->
<a id="layer-mapsengine" ngd-viewport-el></a> 
<h2> Maps Engine Layer 
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-mapsengine">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-mapsengine.png" />
    <map init-event="init-map" center="59.322506, 18.010025" zoom="14">
      <maps-engine-layer
        layer-id="06673056454046135537-08896501997766553811">
      </maps-engine-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/layer-dynamicmapsengine.js"></script>
<!-- ================================================================= -->
<!--           <div ng-include="'layer-dynamicmapsengine.html'"></div> -->
<!-- ================================================================= -->
<a id="layer-dynamicmapsengine" ngd-viewport-el></a> 
<h2> Dynamic Maps Engine Layer
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-dynamicmapsengine">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/layer-dynamicmapsengine.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
    <div ng-controller="LayerDynamicMapsEngineCtrl">
      <img src="images/layer-dynamicmapsengine.png" />
      <map init-event="init-map" center="59.322506, 18.010025" zoom="14">
        <dynamic-maps-engine-layer
          suppress-info-windows="true"
          clickable="true"
          on-mouseover="onMouseover()"
          on-mouseout="onMouseout()"
          layer-id="06673056454046135537-08896501997766553811">
        </dynamic-maps-engine-layer>
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ======================================================================== -->
<!--           <div ng-include="'mapsenginelayer-noauth-layerid.html'"></div> -->
<!-- ======================================================================== -->
<a id="mapsenginelayer-noauth-layerid" ngd-viewport-el></a> 
<h2> Maps Engine layers by layer ID
  <a href="https://developers.google.com/maps/documentation/javascript/examples/mapsenginelayer-noauth-layerid">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/mapsenginelayer-noauth-layerid.png" />
    <map init-event="init-map" center="42, -99" zoom="5">
      <maps-engine-layer
        clickable="true"
        suppress-info-windows="false"
        layer-id="10446176163891957399-12677872887550376890">
      </maps-engine-layer>
      <maps-engine-layer
        layer-id="10446176163891957399-01658747114625264102">
      </maps-engine-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ========================================================================= -->
<!--           <div ng-include="'mapsenginelayer-noauth-layerkey.html'"></div> -->
<!-- ========================================================================= -->
<a id="mapsenginelayer-noauth-layerkey" ngd-viewport-el></a> 
<h2> Maps Engine layers by layer key
  <a href="https://developers.google.com/maps/documentation/javascript/examples/mapsenginelayer-noauth-layerkey">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/mapsenginelayer-noauth-layerkey.png" />
    <map init-event="init-map" center="42, -99" zoom="5">
      <maps-engine-layer
        map-id="10446176163891957399-13516001307527776624-4"
        layer-key="layer_00001"
        clickable="true"
        suppress-info-windows="false">
      </maps-engine-layer>
      <maps-engine-layer
        map-id="10446176163891957399-13516001307527776624-4"
        layer-key="layer_00002">
      </maps-engine-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- =================================================================== -->
<!--           <div ng-include="'layer-fusiontables-simple.html'"></div> -->
<!-- =================================================================== -->
<a id="layer-fusiontables-simple" ngd-viewport-el></a> 
<h2> Fusion Tables layers
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-fusiontables-simple">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-fusiontables-simple.png" />
    <map init-event="init-map" zoom="11" center="41.850033, -87.6500523">
      <fusion-tables-layer query="{
        select: 'Geocodable address',
        from: '1mZ53Z70NsChnBMm-qEYmSDOvLXgrreLTkQUvvg'}">
      </fusion-tables-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ================================================================== -->
<!--           <div ng-include="'layer-fusiontables-query.html'"></div> -->
<!-- ================================================================== -->
<a id="layer-fusiontables-query" ngd-viewport-el></a> 
<h2> Fusion Tables queries
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-fusiontables-query">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-fusiontables-query.png" />
    <map init-event="init-map" zoom="12" center="41.948766, -87.691497">
      <fusion-tables-layer query="{
        select: 'address',
        from: '1d7qpn60tAvG4LEg4jvClZbc1ggp8fIGGvpMGzA',
        where: 'ridership > 5000'}">
      </fusion-tables-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ==================================================================== -->
<!--           <div ng-include="'layer-fusiontables-heatmap.html'"></div> -->
<!-- ==================================================================== -->
<a id="layer-fusiontables-heatmap" ngd-viewport-el></a> 
<h2> Fusion Table heatmaps
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-fusiontables-heatmap">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-fusiontables-heatmap.png" />
    <map init-event="init-map" zoom="3" center="10, -140">
      <fusion-tables-layer 
        query= "{ select: 'location',
          from: '1xWyeuAhIFK_aED1ikkQEGmR8mINSCJO9Vq-BPQ'}",
        heatmap = "{enabled: true}"
      </fusion-tables-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ==================================================================== -->
<!--           <div ng-include="'layer-fusiontables-styling.html'"></div> -->
<!-- ==================================================================== -->
<a id="layer-fusiontables-styling" ngd-viewport-el></a> 
<h2> Fusion Tables styling
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-fusiontables-styling">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-fusiontables-styling.png" />
    <map init-event="init-map" zoom="4" center="-25, 133">
      <fusion-tables-layer 
        query= "{
          select: 'geometry',
          from: '1ertEwm-1bMBhpEwHhtNYT47HQ9k2ki_6sRa-UQ'}",
        styles="[{
          polygonOptions: {
            fillColor: '#00FF00',
            fillOpacity: 0.3
          }
        }, {
          where: 'birds > 300',
          polygonOptions: {
            fillColor: '#0000FF'
          }
        }, {
          where: 'population > 5',
          polygonOptions: {
            fillOpacity: 1.0
          }
        }]">
      </fusion-tables-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ====================================================== -->
<!--           <div ng-include="'layer-georss.html'"></div> -->
<!-- ====================================================== -->
<a id="layer-georss" ngd-viewport-el></a> 
<h2> GeoRSS layers
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-georss">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-georss.png" />
    <map init-event="init-map" zoom="4" center="49.496675,-102.65625">
      <kml-layer 
        url="http://api.flickr.com/services/feeds/geo/?g=322338@N20&lang=en-us&format=feed-georss">
      </kml-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ======================================================= -->
<!--           <div ng-include="'layer-traffic.html'"></div> -->
<!-- ======================================================= -->
<a id="layer-traffic" ngd-viewport-el></a> 
<h2> Traffic Layer
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-traffic">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-traffic.png" />
    <map init-event="init-map" zoom="13" center="34.04924594193164, -118.24104309082031">
      <traffic-layer></traffic-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ======================================================= -->
<!--           <div ng-include="'layer-transit.html'"></div> -->
<!-- ======================================================= -->
<a id="layer-transit" ngd-viewport-el></a> 
<h2> Transit Layer
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-transit">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-transit.png" />
    <map init-event="init-map" zoom="13" center="51.501904,-0.115871">
      <transit-layer></transit-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ======================================================= -->
<!--           <div ng-include="'layer-weather.html'"></div> -->
<!-- ======================================================= -->
<a id="layer-weather" ngd-viewport-el></a> 
<h2> Weather Layer
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-weather">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-weather.png" />
    <map init-event="init-map" zoom="6" center="49.265984,-123.127491">
      <weather-layer temperature-units="FAHRENHEIT"></weather-layer>
      <cloud-layer></cloud-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ========================================================= -->
<!--           <div ng-include="'layer-bicycling.html'"></div> -->
<!-- ========================================================= -->
<a id="layer-bicycling" ngd-viewport-el></a> 
<h2> Bicycle Layer
  <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-bicycling">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map')">
      <img src="images/layer-bicycling.png" />
    <map init-event="init-map" zoom="14" center="42.3726399, -71.1096528">
      <bicycling-layer></bicycling-layer>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

        </section>
      </div>
    </div>

  </body>
</html>
