<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <title>AngularJS Google Maps V3 Directive MapTypes</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization"></script>
    <script src="https://code.angularjs.org/1.2.26/angular.min.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-directives/master/build/ngd.min.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-directives/master/ngdPlnkr.js"></script>

    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
    <script src="javascripts/app.js"></script>
  </head>

  <body ngd-viewport>
<!-- =================================================== -->
<!--     <div ng-include="'partials/header.html'"></div> -->
<!-- =================================================== -->
    <header>
      <div class="inner">
        <a href="https://github.com/allenhwkim/angularjs-google-maps" class="button">
          <img src="images/github-button.png" />
          <div class="overlay">
            <small>View project on</small> 
            GitHub
          </div>
        </a>
        <h1>Angularjs-Google-Maps</h1>
        <h2>The Simplest Way of Showing A Map</h2>
      </div>
    </header>

    <div ngd-viewport-nav>
<!-- ====================================================== -->
<!--       <div ng-include="'partials/sidebar.html'"></div> -->
<!-- ====================================================== -->
<aside id="sidebar" ngd-fixed-under="header">
  <a href="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js" download="ng-map.min.js" class="button">
    <img src="images/download-button.png" />
    <div class="overlay">
      <small>Download (8.7k)</small>
      ng-map.js
    </div>
  </a>

  <ul ngd-tree>
    <li class="on">
      API Reference
      <ul>
        <li><a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference">3.exp (3.18)</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/reference">Release (3.17)</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/3.16/reference">Frozen (3.16)</a></li>
      </ul>
    </li>

    <li class="on">
      Code Samples
      <ul>
        <li ng-class="{on:page=='basics'}">
          <a href="basics.html#">Basics</a>
          <ul>
            <li><a href="basics.html#map-simple">Simple map</a></li>
            <li><a href="basics.html#map-coordinates">Showing pixel and tile coordinates</a></li>
            <li><a href="basics.html#map-geolocation">Geolocation</a></li>
            <li><a href="basics.html#map-projection-simple">Custom map projections</a>
          </ul>
        </li>

        <li ng-class="{on:page=='events'}">
          <a href="events.html#">Events</a>
          <ul>
            <li><a href="events.html#event-simple">Simple click event</a></li>
            <li><a href="events.html#event-arguments">Accessing arguments in UI events</a></li>
            <li><a href="events.html#event-properties">Getting properties with event handlers</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='controls'}">
          <a href="controls.html#">Controls</a>
          <ul>
            <li><a href="controls.html#control-disableUI">Disabling the default UI</a></li>
            <li><a href="controls.html#control-simple">Adding controls to the map</a></li>
            <li><a href="controls.html#control-options">Control options</a></li>
            <li><a href="controls.html#control-positioning">Control positioning</a></li>
            <li><a href="controls.html#control-custom">Custom controls</a></li>
            <li><a href="controls.html#control-custom-state">Adding state to controls</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='styles'}">
          <a href="styles.html#">Styles</a>
          <ul>
            <li><a href="styles.html#maptype-styled-simple">Simple styled maps</a></li>
            <li><a href="styles.html#maptype-styled-complex">Complex styled maps</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='drawings'}">
          <a href="drawings.html#">Drawing on the Map</a>
          <ul>
            <li><a href="drawings.html#marker-simple">Simple markers</a></li>
            <li><a href="drawings.html#marker-remove">Removing markers</a></li>
            <li><a href="drawings.html#icon-simple">Simple marker icons</a></li>
            <li><a href="drawings.html#icon-complex">Complex marker icons</a></li>
            <li><a href="drawings.html#marker-animations">Marker animations</a></li>
            <li><a href="drawings.html#marker-animations-iteration">Marker animations with setTimeout()</a></li>
            <li><a href="drawings.html#infowindow-simple">Info windows</a></li>
            <li><a href="drawings.html#infowindow-simple-max">Info windows with maxWidth</a></li>
            <li><a href="drawings.html#polyline-simple">Simple polylines</a></li>
            <li><a href="drawings.html#polyline-remove">Removing polylines</a></li>
            <li><a href="drawings.html#polyline-complex">Complex polylines</a></li>
            <li><a href="drawings.html#polygon-simple">Simple polygons</a></li>
            <li><a href="drawings.html#polygon-arrays">Polygon arrays</a></li>
            <li><a href="drawings.html#polygon-autoclose">Polygon auto-completion</a></li>
            <li><a href="drawings.html#circle-simple">Circles</a></li> 
            <li><a href="drawings.html#rectangle-simple">Rectangles</a></li>
            <li><a href="drawings.html#rectangle-zoom">Rectangle zoom</a></li>
            <li><a href="drawings.html#user-editable-shapes">User-editable shapes</a></li>
            <li><a href="drawings.html#polygon-draggable">Draggable polygons</a></li>
            <li><a href="drawings.html#rectangle-event">Listening to events</a></li>
            <li><a href="drawings.html#groundoverlay-simple">Ground overlays</a></li>
            <li><a href="drawings.html#overlay-remove">Removing overlays</a></li>
            <li><a href="drawings.html#overlay-simple">Custom overlays</a></li>
            <li><a href="drawings.html#overlay-hideshow">Showing/hiding overlays</a></li>
            <li><a href="drawings.html#marker-symbol-predefined">Predefined marker symbols</a></li>
            <li><a href="drawings.html#marker-symbol-custom">Custom marker symbols</a></li>
            <li><a href="drawings.html#overlay-symbol-animate">Animated symbols</a></li>
            <li><a href="drawings.html#overlay-symbol-arrow">Arrows (symbols)</a></li>
            <li><a href="drawings.html#overlay-symbol-custom">Custom symbols on a line</a></li>
            <li><a href="drawings.html#overlay-symbol-dashed">Dashed lines (symbols)</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='layers'}">
          <a href="layers.html#">Layers</a>
          <ul>
            <li><a href="layers.html#layer-kml">KML layers</a></li>
            <li><a href="layers.html#layer-kml-features">KML feature details</a></li>
            <li><a href="layers.html#layer-data-simple">Data layer: Simple</a></li>
            <li><a href="layers.html#layer-data-style">Data layer: Styling</a></li>
            <li><a href="layers.html#layer-data-event">Data layer: Event Handling</a></li>
            <li><a href="layers.html#layer-data-dynamic">Data layer: Dynamic Styling</a></li>
            <!--
            <li><a href="layers.html#layer-data-dragndrop">Data layer: Drag and Drop GeoJSON</a></li>
            -->
            <li><a href="layers.html#layer-data-quakes-default">Data layer: Earthquakes Default</a></li> 
            <li><a href="layers.html#layer-data-quakes-simple">Data layer: Earthquakes Simple</a></li> 
            <li><a href="layers.html#layer-data-quakes-advanced">Data layer: Earthquakes Advanced</a></li> 
            <li><a href="layers.html#layer-heatmap">Heatmaps</a></li>
            <li><a href="layers.html#layer-mapsengine">Maps Engine layers</a></li>
            <li><a href="layers.html#layer-dynamicmapsengine">Dynamic Maps Engine layers</a></li>
            <li><a href="layers.html#mapsenginelayer-noauth-layerid">Maps Engine layers by layer ID</a></li>
            <li><a href="layers.html#mapsenginelayer-noauth-layerkey">Maps Engine layers by layer key</a></li>
            <li><a href="layers.html#layer-fusiontables-simple">Fusion Tables layers</a></li>
            <li><a href="layers.html#layer-fusiontables-query">Fusion Tables queries</a></li>
            <li><a href="layers.html#layer-fusiontables-heatmap">Fusion Tables heatmaps</a></li>
            <li><a href="layers.html#layer-fusiontables-styling">Fusion Tables styling</a></li>
            <li><a href="layers.html#layer-georss">GeoRSS layers</a></li>
            <li><a href="layers.html#layer-traffic">Traffic layer</a></li>
            <li><a href="layers.html#layer-transit">Transit layer</a></li>
            <li><a href="layers.html#layer-weather">Weather layer</a></li>
            <li><a href="layers.html#layer-bicycling">Bicycle layer</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='maptypes'}">
          <a href="maptypes.html#">MapTypes</a>
          <ul>
            <li><a href="maptypes.html#maptype-base">Basic map types</a></li>
            <li><a href="maptypes.html#maptype-overlay">Overlay map types</a></li>
            <li><a href="maptypes.html#maptype-image">Image map types</a></li>
            <li><a href="maptypes.html#maptype-image-overlay">Overlaying an image map type</a></li>
            <li><a href="maptypes.html#aerial-simple">45° imagery</a></li>
            <li><a href="maptypes.html#aerial-rotation">Rotating 45° imagery</a></li>
          </ul>
        </li>

      </ul>
    </li>

  </ul>


<p class="repo-owner"><a href="https://github.com/allenhwkim/angularjs-google-maps">ng-map</a> is maintained by <a href="https://github.com/allenhwkim">Allen Kim</a>.</p>

  <p>This page was originally generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
</aside>


    </div>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h2>Map Types</h2>
          <script src="javascripts/maptype-base.js"></script>
<!-- ====================================================== -->
<!--           <div ng-include="'maptype-base.html'"></div> -->
<!-- ====================================================== -->
<a id="maptype-base" ngd-viewport-el></a> 
<h2> Basic map types
  <a href="https://developers.google.com/maps/documentation/javascript/examples/maptype-base">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/maptype-base.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map45')">
    <div ng-controller="MapTypeBaseCtrl">
      <map init-event="init-map45" style="background:url(images/maptype-base.png) center" zoom="10" center="41.850033,-87.6500523"
        on-maptypeid_changed="mapTypeChanged()"
        street-view-control="false"
        map-type-id="coordinate"
        map-type-control-options="{
          mapTypeIds: ['coordinate', 'ROADMAP'],
          style: 'DROPDOWN_MENU'
        }">
        <map-type name="coordinate" object="CoordMapType">
        </map-type>
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/maptype-overlay.js"></script>
<!-- ========================================================= -->
<!--           <div ng-include="'maptype-overlay.html'"></div> -->
<!-- ========================================================= -->
<a id="maptype-overlay" ngd-viewport-el></a> 
<h2> Overlap map types
  <a href="https://developers.google.com/maps/documentation/javascript/examples/maptype-overlay">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/maptype-overlay.js">
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map48')">
    <map init-event="init-map48" style="background:url(images/maptype-overlay.png) center" zoom="10" center="41.850033,-87.6500523">
      <overlay-map-type object="CoordMapType2" index="0">
      </overlay-map-type>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/maptype-image.js"></script>
<!-- ======================================================= -->
<!--           <div ng-include="'maptype-image.html'"></div> -->
<!-- ======================================================= -->
<a id="maptype-image" ngd-viewport-el></a> 
<h2> Image map types
  <a href="https://developers.google.com/maps/documentation/javascript/examples/maptype-image">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/maptype-image.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map47')">
    <div ng-controller="MapTypeImageCtrl">
      <map init-event="init-map47" style="background:url(images/maptype-image.png) center" zoom="1" center="0,0"
        street-view-control="false"
        map-type-id="moon"
        map-type-control-options="{
          mapTypeIds: ['moon']
        }">
        <map-type name="moon" object="moonMapType">
        </map-type>
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/maptype-image-overlay.js"></script>
<!-- =============================================================== -->
<!--           <div ng-include="'maptype-image-overlay.html'"></div> -->
<!-- =============================================================== -->
<a id="maptype-image-overlay" ngd-viewport-el></a> 
<h2>
  <a href="https://developers.google.com/maps/documentation/javascript/examples/maptype-image-overlay">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/maptype-image-overlay.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map46')">
    <map init-event="init-map46" style="background:url(images/maptype-image-overlay.png) center" zoom="18" center="37.78313383212, -122.4039494991302">
      <overlay-map-type object="imageMapType" init-method="push">
      </overlay-map-type>
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

<!-- ======================================================= -->
<!--           <div ng-include="'aerial-simple.html'"></div> -->
<!-- ======================================================= -->
<a id="aerial-simple" ngd-viewport-el></a> 
<h2>
  <a href="https://developers.google.com/maps/documentation/javascript/examples/aerial-simple">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map2')">
    <map init-event="init-map2" style="background:url(images/aerial-simple.png) center" center="36.964645, -122.01523" 
      zoom="18" 
      tilt="45" 
      map-type-id="SATELLITE">
    </map>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

          <script src="javascripts/aerial-rotation.js"></script>
<!-- ========================================================= -->
<!--           <div ng-include="'aerial-rotation.html'"></div> -->
<!-- ========================================================= -->
<a id="aerial-rotation" ngd-viewport-el></a> 
<h2>
  <a href="https://developers.google.com/maps/documentation/javascript/examples/aerial-rotation">Google Source</a>
</h2>
<div ngd-plnkr-scope>
  <div ngd-plnkr-code="js" src="javascripts/aerial-rotation.js"></div>
  <div ngd-plnkr-code="html" ng-click="$broadcast('init-map1')">
    <div ng-controller="AerialRotationCtrl">
      <input type="button" value="Auto Rotate" ng-click="autoRotate();">
      <map init-event="init-map1" style="background:url(images/aerial-rotation.png) center" center="45.518970, -122.672899"
        zoom="18"
        map-type-id="SATELLITE"
        tilt="45"
        heading="90">
      </map>
    </div>
  </div>
  <div ngd-plnkr-show module-name="myapp"></div>
</div>

        </section>
      </div>
    </div>

  </body>
</html>
