<aside id="sidebar" ngd-fixed-under="header">
  <a href="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js" download="ng-map.min.js" class="button">
    <img src="images/download-button.png" />
    <div class="overlay">
      <small>Download (8.7k)</small>
      ng-map.js
    </div>
  </a>

  <ul ngd-tree>
    <li class="on">
      API Reference
      <ul>
        <li><a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference">3.exp (3.18)</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/reference">Release (3.17)</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/3.16/reference">Frozen (3.16)</a></li>
      </ul>
    </li>

    <li class="on">
      Code Samples
      <ul>
        <li ng-class="{on:page=='basics'}">
          <a href="basics.html#">Basics</a>
          <ul>
            <li><a href="##map-simple">Simple map</a></li>
            <li><a href="##map-coordinates">Showing pixel and tile coordinates</a></li>
            <li><a href="##map-geolocation">Geolocation</a></li>
            <li><a href="##map-projection-simple">Custom map projections</a>
          </ul>
        </li>

        <li ng-class="{on:page=='events'}">
          <a href="events.html#">Events</a>
          <ul>
            <li><a href="##event-simple">Simple click event</a></li>
            <li><a href="##event-arguments">Accessing arguments in UI events</a></li>
            <li><a href="##event-properties">Getting properties with event handlers</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='controls'}">
          <a href="controls.html#">Controls</a>
          <ul>
            <li><a href="##control-disableUI">Disabling the default UI</a></li>
            <li><a href="##control-simple">Adding controls to the map</a></li>
            <li><a href="##control-options">Control options</a></li>
            <li><a href="##control-positioning">Control positioning</a></li>
            <li><a href="##control-custom">Custom controls</a></li>
            <li><a href="##control-custom-state">Adding state to controls</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='styles'}">
          <a href="styles.html#">Styles</a>
          <ul>
            <li><a href="##maptype-styled-simple">Simple styled maps</a></li>
            <li><a href="##maptype-styled-complex">Complex styled maps</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='drawing'}">
          <a href="drawings.html#">Drawing on the Map</a>
          <ul>
            <li><a href="##marker-simple">Simple markers</a></li>
            <li><a href="##marker-remove">Removing markers</a></li>
            <li><a href="##icon-simple">Simple marker icons</a></li>
            <li><a href="##icon-complex">Complex marker icons</a></li>
            <li><a href="##marker-animations">Marker animations</a></li>
            <li><a href="##marker-animations-iteration">Marker animations with setTimeout()</a></li>
            <li><a href="##infowindow-simple">Info windows</a></li>
            <li><a href="##infowindow-simple-max">Info windows with maxWidth</a></li>
            <li><a href="##polyline-simple">Simple polylines</a></li>
            <li><a href="##polyline-remove">Removing polylines</a></li>
            <li><a href="##polyline-complex">Complex polylines</a></li>
            <li><a href="##polygon-simple">Simple polygons</a></li>
            <li><a href="##polygon-arrays">Polygon arrays</a></li>
            <li><a href="##polygon-autoclose">Polygon auto-completion</a></li>
            <li><a href="##circle-simple">Circles</a></li> 
            <li><a href="##rectangle-simple">Rectangles</a></li>
            <li><a href="##rectangle-zoom">Rectangle zoom</a></li>
            <li><a href="##user-editable-shapes">User-editable shapes</a></li>
            <li><a href="##polygon-draggable">Draggable polygons</a></li>
            <li><a href="##rectangle-event">Listening to events</a></li>
            <li><a href="##groundoverlay-simple">Ground overlays</a></li>
            <li><a href="##overlay-remove">Removing overlays</a></li>
            <li><a href="##overlay-simple">Custom overlays</a></li>
            <li><a href="##overlay-hideshow">Showing/hiding overlays</a></li>
            <li><a href="##marker-symbol-predefined">Predefined marker symbols</a></li>
            <li><a href="##marker-symbol-custom">Custom marker symbols</a></li>
            <li><a href="##overlay-symbol-animate">Animated symbols</a></li>
            <li><a href="##overlay-symbol-arrow">Arrows (symbols)</a></li>
            <li><a href="##overlay-symbol-custom">Custom symbols on a line</a></li>
            <li><a href="##overlay-symbol-dashed">Dashed lines (symbols)</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='layers'}">
          <a href="layers.html#">Layers</a>
          <ul>
            <li><a href="##layer-kml">KML layers</a></li>
            <li><a href="##layer-kml-features">KML feature details</a></li>
            <li><a href="##layer-data-simple">Data layer: Simple</a></li>
            <li><a href="##layer-data-style">Data layer: Styling</a></li>
            <li><a href="##layer-data-event">Data layer: Event Handling</a></li>
            <li><a href="##layer-data-dynamic">Data layer: Dynamic Styling</a></li>
            <li><a style="display:none" href="##layer-data-dragndrop">Data layer: Drag and Drop GeoJSON</a></li>
            <li><a href="##layer-data-quakes-default">Data layer: Earthquakes Default</a></li> 
            <li><a href="##layer-data-quakes-simple">Data layer: Earthquakes Simple</a></li> 
            <li><a href="##layer-data-quakes-advanced">Data layer: Earthquakes Advanced</a></li> 
            <li><a href="##layer-heatmap">Heatmaps</a></li>
            <li><a href="##layer-mapsengine">Maps Engine layers</a></li>
            <li><a href="##layer-dynamicmapsengine">Dynamic Maps Engine layers</a></li>
            <li><a href="https://developers.google.com/maps/documentation/javascript/exampleshttps://developers.google.com/mapsenginelayer-noauth-layerid">Maps Engine layers by layer ID</a></li>
            <li><a href="https://developers.google.com/maps/documentation/javascript/exampleshttps://developers.google.com/mapsenginelayer-noauth-layerkey">Maps Engine layers by layer key</a></li>
            <li><a href="##layer-fusiontables-simple">Fusion Tables layers</a></li>
            <li><a href="##layer-fusiontables-query">Fusion Tables queries</a></li>
            <li><a href="##layer-fusiontables-heatmap">Fusion Tables heatmaps</a></li>
            <li><a href="##layer-fusiontables-styling">Fusion Tables styling</a></li>
            <li><a href="##layer-georss">GeoRSS layers</a></li>
            <li><a href="##layer-traffic">Traffic layer</a></li>
            <li><a href="##layer-transit">Transit layer</a></li>
            <li><a href="##layer-weather">Weather layer</a></li>
            <li><a href="##layer-bicycling">Bicycle layer</a></li>
            <li><a href="##layer-panoramio">Panoramio layer</a></li
            <li><a href="##layer-panoramio-tags"> Restricting photos by tag (Panoramio layer)</a></li>
          </ul>
        </li>

        <li ng-class="{on:page=='maptypes'}">
          <a href="maptypes.html#">MapTypes</a>
          <ul>
            <li><a href="##maptype-base">Basic map types</a></li>
            <li><a href="##maptype-overlay">Overlay map types</a></li>
            <li><a href="##maptype-image">Image map types</a></li>
            <li><a href="##maptype-image-overlay">Overlaying an image map type</a></li>
            <li><a href="##aerial-simple">45° imagery</a></li>
            <li><a href="##aerial-rotation">Rotating 45° imagery</a></li>
          </ul>
        </li>

      </ul>
    </li>

  </ul>


<p class="repo-owner"><a href="https://github.com/allenhwkim/angularjs-google-maps">ng-map</a> is maintained by <a href="https://github.com/allenhwkim">Allen Kim</a>.</p>

  <p>This page was originally generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
</aside>

